<div class="banner-inner">

  <h1 class="banner-title">
    Welcome to the<br>
    Medicaid Access Strategy Hub
  </h1>

  <div class="banner-actions">

    <a href="/new-topic" class="ask-question-btn">
      Ask a Question
    </a>

    <span class="banner-or">Or</span>

    <div class="banner-search">
      {{search-menu}}
    </div>

  </div>

</div>
